# Install

1. First thing is to create an environment (for this example i created condaenv), there I installed pyspark
2. PySparks needs Java to be installed 

    brew install java
    
    sudo ln -sfn /opt/homebrew/opt/openjdk/libexec/openjdk.jdk /Library/Java/JavaVirtualMachines/openjdk.jdk) 

Why pyspark uses java gateway?https://medium.com/@dpk.bhtt/java-gateway-exited-java-gateway-process-exited-before-sending-its-port-number-eae90ccb990f

In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 8.1 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=567a719b410b3c75f2dcff44391f35ffa58074c266f55245693679066b39c74b
  Stored in directory: /Users/aleidali/Library/Caches/pip/wheels/9d/29/ee/3a756632ca3f0a6870933bac1c9db6e4af2c068f019aba0ee1
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.2

In [3]:
import pyspark

In [34]:
#Traditional way to read dataframes with pandas
import pandas as pd
type(pd.read_csv("Book1.csv"))

pandas.core.frame.DataFrame

# Build session and read a csv

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/10 17:42:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [35]:
df_pyspark=spark.read.csv("Book1.csv")
df_pyspark

DataFrame[_c0: string, _c1: string]

In [36]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [4]:
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|ALEIDALI| 31|
|    JUAN| 29|
|    JOSE| 10|
+--------+---+

24/09/10 17:42:36 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

# Some pyspark dataframe fuctions

- Read options, set headers and column types
- Get columns names
- Show all the elements of a selected column
- dtypes and describe methods
- rename a column
- add a new column
- drop a column

In [5]:
# to set first row as headers
df_pyspark= spark.read.option('header','true').csv("Book1.csv")
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|ALEIDALI| 31|
|    JUAN| 29|
|    JOSE| 10|
+--------+---+

In [6]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [8]:
df_pyspark.printSchema() # If we do not specify the columns type , all columns will be considered as strings

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [9]:
# We can use InferSchema to modify column types
df_pyspark= spark.read.option('header','true').csv("Book1.csv",inferSchema=True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [11]:
# easier way
df_pyspark=spark.read.csv("Book1.csv", header=True, inferSchema=True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [7]:
#to see first record
df_pyspark.head(1)

[Row(Name='ALEIDALI', Age='31')]

In [13]:
# get columns names
df_pyspark.columns

['Name', 'Age']

In [15]:
# pick a column as see all its elements 
df_pyspark.select("Name")

DataFrame[Name: string]

In [17]:
df_pyspark.select("Name").show()

+--------+
|    Name|
+--------+
|ALEIDALI|
|    JUAN|
|    JOSE|
+--------+

In [20]:
df_pyspark.select(['Age','Name']).show()

+---+--------+
|Age|    Name|
+---+--------+
| 31|ALEIDALI|
| 29|    JUAN|
| 10|    JOSE|
+---+--------+

In [23]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [25]:
df_pyspark.describe().show() # min and max is accordingly to the index in case they are strings

+-------+--------+------------------+
|summary|    Name|               Age|
+-------+--------+------------------+
|  count|       3|                 3|
|   mean|    NULL|23.333333333333332|
| stddev|    NULL|11.590225767142472|
|    min|ALEIDALI|                10|
|    max|    JUAN|                31|
+-------+--------+------------------+

In [29]:
# Adding columns, need to store in a variable to see the results
df_pyspark.withColumn('Age after 2 years', df_pyspark['Age']+2).show()

+--------+---+-----------------+
|    Name|Age|Age after 2 years|
+--------+---+-----------------+
|ALEIDALI| 31|               33|
|    JUAN| 29|               31|
|    JOSE| 10|               12|
+--------+---+-----------------+

In [28]:
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|ALEIDALI| 31|
|    JUAN| 29|
|    JOSE| 10|
+--------+---+

In [30]:
df_pyspark=df_pyspark.withColumn('Age after 2 years', df_pyspark['Age']+2)
df_pyspark.show()

+--------+---+-----------------+
|    Name|Age|Age after 2 years|
+--------+---+-----------------+
|ALEIDALI| 31|               33|
|    JUAN| 29|               31|
|    JOSE| 10|               12|
+--------+---+-----------------+

In [31]:
#drop a column
df_pyspark.drop('Age after 2 years').show()

+--------+---+
|    Name|Age|
+--------+---+
|ALEIDALI| 31|
|    JUAN| 29|
|    JOSE| 10|
+--------+---+

In [32]:
df_pyspark=df_pyspark.drop('Age after 2 years')
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|ALEIDALI| 31|
|    JUAN| 29|
|    JOSE| 10|
+--------+---+

In [33]:
#Rename a column
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+
|New Name|Age|
+--------+---+
|ALEIDALI| 31|
|    JUAN| 29|
|    JOSE| 10|
+--------+---+

# Handle Missing values

In [38]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()
df_pyspark= spark.read.csv("Book1.csv",header=True,inferSchema=True)
df_pyspark.show()

+--------+----+
|    Name| Age|
+--------+----+
|ALEIDALI|  31|
|    JUAN|  29|
|    JOSE|  10|
|  MONICA|NULL|
+--------+----+

In [43]:
#drops raws with null values, any set as default
df_pyspark.na.drop(how="any").show()

+--------+---+
|    Name|Age|
+--------+---+
|ALEIDALI| 31|
|    JUAN| 29|
|    JOSE| 10|
+--------+---+

In [46]:
# drop raws with all columns = null
df_pyspark.na.drop(how="all").show()

+--------+----+
|    Name| Age|
+--------+----+
|ALEIDALI|  31|
|    JUAN|  29|
|    JOSE|  10|
|  MONICA|NULL|
+--------+----+

In [50]:
#keep raws with at leat 2 not null values
df_pyspark.na.drop(how="any",thresh=2).show()

+--------+---+
|    Name|Age|
+--------+---+
|ALEIDALI| 31|
|    JUAN| 29|
|    JOSE| 10|
+--------+---+

In [52]:
#drop null values in an specific colums
df_pyspark.na.drop(how="any",subset=['Name']).show()

+--------+----+
|    Name| Age|
+--------+----+
|ALEIDALI|  31|
|    JUAN|  29|
|    JOSE|  10|
|  MONICA|NULL|
+--------+----+

In [69]:
#Fill the missing values
df_pyspark.na.fill(1000,['Name','Age']).show()

+--------+----+
|    Name| Age|
+--------+----+
|ALEIDALI|  31|
|    JUAN|  29|
|    JOSE|  10|
|  MONICA|1000|
+--------+----+

In [72]:
# inputation with help of sklearn
from pyspark.ml.feature import Imputer

imp=Imputer(
    inputCols=['Age'],
    outputCols=["{}_imputed".format(c) for c in ['Age']],
    ).setStrategy("mean")

In [73]:
# apply to my dataframe
imp.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+-----------+
|    Name| Age|Age_imputed|
+--------+----+-----------+
|ALEIDALI|  31|         31|
|    JUAN|  29|         29|
|    JOSE|  10|         10|
|  MONICA|NULL|         23|
+--------+----+-----------+

# Filter operations

In [74]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()
df_pyspark= spark.read.csv("Book1.csv",header=True,inferSchema=True)
df_pyspark.show()

+--------+----+
|    Name| Age|
+--------+----+
|ALEIDALI|  31|
|    JUAN|  29|
|    JOSE|  10|
|  MONICA|NULL|
+--------+----+

In [75]:
df_pyspark.filter('Age<=25').show()

+----+---+
|Name|Age|
+----+---+
|JOSE| 10|
+----+---+

In [76]:
df_pyspark.filter('Age<=25').select(['Name']).show()

+----+
|Name|
+----+
|JOSE|
+----+

In [80]:
# many conditions
df_pyspark.filter((df_pyspark['Age']<=25) & 
                  (df_pyspark['Age']>10)).show()

+----+---+
|Name|Age|
+----+---+
+----+---+

In [81]:
# many conditions
df_pyspark.filter((df_pyspark['Age']<=25) | 
                  (df_pyspark['Age']>1)).show()

+--------+---+
|    Name|Age|
+--------+---+
|ALEIDALI| 31|
|    JUAN| 29|
|    JOSE| 10|
+--------+---+

In [82]:
# inverse filer operation
# many conditions
df_pyspark.filter(~(df_pyspark['Age']<=25)).show()

+--------+---+
|    Name|Age|
+--------+---+
|ALEIDALI| 31|
|    JUAN| 29|
+--------+---+

# Group by and Aggregate fucntions

In [83]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()
df_pyspark= spark.read.csv("Book1.csv",header=True,inferSchema=True)
df_pyspark.show()

+--------+----+
|    Name| Age|
+--------+----+
|ALEIDALI|  31|
|    JUAN|  29|
|    JOSE|  10|
|  MONICA|NULL|
+--------+----+

In [85]:
#group by
df_pyspark.groupBy('Name').sum().show()

+--------+--------+
|    Name|sum(Age)|
+--------+--------+
|    JOSE|      10|
|    JUAN|      29|
|  MONICA|    NULL|
|ALEIDALI|      31|
+--------+--------+

In [89]:
# group to get maximun age per name
df_pyspark.groupBy('Name').max('Age').show()

+--------+--------+
|    Name|max(Age)|
+--------+--------+
|    JOSE|      10|
|    JUAN|      29|
|  MONICA|    NULL|
|ALEIDALI|      31|
+--------+--------+

In [90]:
#count
df_pyspark.groupBy('Name').count().show()

+--------+-----+
|    Name|count|
+--------+-----+
|    JOSE|    1|
|    JUAN|    1|
|  MONICA|    1|
|ALEIDALI|    1|
+--------+-----+

In [92]:
# only aggregate
df_pyspark.agg({'Age':'min'}).show()

+--------+
|min(Age)|
+--------+
|      10|
+--------+